<div class="chat-logo">
  <span>
  <img src="https://media.istockphoto.com/id/1219543292/vector/video-call-icon-logo-vector-illustration-video-call-icon-design-vector-template-trendy-video.jpg?s=612x612&w=0&k=20&c=oTrq247HUVtvxk_YE0E3XjAIaMHOK7q8FoXdNhM2124=">
  <h5 class="title">Chanity</h5>
  </span>
</div>