/* for the website */
* {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  line-height: 1.5;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-image: url("Coffee.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 4rem;
}

header .chat-logo {
  display: flex;
  flex: row;
  padding: 1rem;
  background: linear-gradient(to right, #bdc3c7, #2c3e50);
  color: wheat;
  border: 2px solid;
  gap: 1.5;
  border-radius: 2rem 2rem 2rem 2rem;
}

header .chat-logo span {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 2rem;
  align-items: flex-start;
  justify-content: flex-start;
}

.chat-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chat-logo h3 {
  padding-left: 1rem;
  word-wrap: break-word;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.app > .screen {
  display: none;
}

.app > .screen.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.screen .form {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 40rem;
  background: rgb(215, 215, 215);
  background: radial-gradient(
    circle,
    rgba(215, 215, 215, 1) 0%,
    rgba(165, 123, 54, 0.865338633996121) 100%
  );
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 0.8rem;
}

.screen .form-input {
  width: 90%;
  margin: 2rem 0rem;
}

.screen h2 {
  margin-bottom: 30px;
  font-size: 30px;
  color: #111;
  border-bottom: 4px solid #555;
  padding: 5px 0px;
  display: inline-block;
}

.screen .form-input p {
  display: block;
  color: #eee;
  font-weight: 500;
  font-size: 2.6rem;
  text-align: center;
}

.screen .form-input label {
  display: block;
  margin-bottom: 5px;
}

.screen .form-input input {
  width: 100%;
  padding: 1rem;
  border: 0.5rem solid #555555;
  font-size: 1.6rem;
}

.screen .form-input button {
  padding: 10px 20px;
  background: #eee;
  border-radius: 0.2rem;
  box-shadow: rgb(111, 78, 55) 0px 5px 15px;
  font-size: 16px;
  color: #6f4e37;
  outline: none;
  cursor: pointer;
  border: none;
  transition: 0.3s ease all;
}

.screen .form-input:hover button {
  background: #111;
  border-radius: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #eee;
  outline: none;
  cursor: pointer;
  border: none;
}

.screen .form-input:active button {
  background: #111;
  border-radius: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #eee;
  outline: none;
  cursor: pointer;
  border: none;
  opacity: 0.3;
}

.chat-screen .header {
  background: #6f4e37;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0rem 1.6rem;
  border-radius: 1rem 1rem 0rem 0rem;
}

.chat-screen .header .clients-total {
  font-size: 1.2rem;
  color: #eee;
}

.chat-screen .header .logo {
  font-size: 18px;
  color: #eee;
  font-weight: 600;
}

.chat-screen .header button {
  padding: 5px 10px;
  border: 1px solid #eee;
  background: transparent;
  color: #ecdcdc;
  font-size: 15px;
  cursor: pointer;
  outline: none;
}

.chat-screen .messages {
  width: 100%;
  height: calc(100% - 100px);
  background: #ffffff;
  overflow: auto;
}

.chat-screen .messages .message {
  display: flex;
  padding: 10px;
}

.chat-screen .messages .message > div {
  max-width: 80%;
  background: #fff;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.05);
  padding: 10px;
}

.chat-screen .messages .message.my-message > div {
  border-radius: 1.6rem;
  border-bottom-right-radius: 0rem;
}

.chat-screen .messages .message.other-message > div {
  border-radius: 1.6rem;
  border-bottom-left-radius: 0rem;
}

.chat-screen .messages .message.my-message {
  justify-content: flex-end;
  text-align: end;
}

.chat-screen .messages .message.other-message {
  justify-content: flex-start;
  text-align: start;
}

.chat-screen .messages .message .name {
  font-size: 13px;
  color: #555;
}

.chat-screen .messages .message .text {
  word-wrap: break-word;
}

.chat-screen .messages .update {
  text-align: center;
  padding: 10px;
  font-style: italic;
}

.chat-screen .typebox {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
}

.chat-screen .typebox input {
  display: flex;
  flex: 1 1 2rem;
  height: 100%;
  width: 90%;
  font-size: 1.8rem;
  padding: 0 1rem;
  background: #ffffffcd;
  text-transform: none;
}

.chat-screen .typebox button {
  width: 6rem;
  height: 100%;
  background: #6f4e37;
  color: white;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
}
